<h2>Progress</h2>
<div class="progress progress-striped active">
  <div class="progress-bar"
    role="progressbar"
    aria-valuenow="<%= stats.complete() %>"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width: <%= stats.complete() %>%">
    <span class="sr-only"><%= stats.complete() %> Complete</span>
  </div>
</div>
You've watched <%= stats.get('rating_count') %> out of <%= stats.get('movie_count') %> Disney Movies!
